[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_sqlalchemy = "*"
flask_migrate = "*"
flask_cors = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.12"
